header {
	/*height: 350px;*/
	/*background-color: #004293;
	background-image: url('../img/image1.jpg');

	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	background-attachment: fixed;*/

	/*background: #004293 url('../img/image2.jpg') no-repeat scroll center;*/
	/*background-size: cover;*/
}

.hamburger-button {
	width: 200px;
	height: 200px;
	position: absolute;
	right: 200px;
	top: 250px;
	z-index: 100;
	overflow: hidden;
	cursor: pointer;
}

.hamburger-button > span {
	display: block;
	position: absolute;
	width: 100%;
	height: 20px;
	border-radius: 10px;
	background-color: #000;
	transition: 0.3s;
}

.hamburger-button > span:nth-child(1) {
	top: 0;
	left: 0;

}

.hamburger-button > span:nth-child(2) {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.hamburger-button > span:nth-child(3) {
	bottom: 0;
	left: 0;
}

/*ACTIVE*/
.hamburger-button.active > span:nth-child(2) {
	opacity: 0;
}

.hamburger-button.active > span:nth-child(1) {
	transform: rotateZ(45deg);
	transform-origin: 8% 0%;
	top: 12px;
	left: 14px;
}

.hamburger-button.active > span:nth-child(3) {
	transform: rotateZ(-45deg);
	transform-origin: 8% 100%;
	bottom: 55px;
	left: 14px;
}

/*MENU*/
.hamburger-menu {
	position: fixed;
	right: -100%;
	top: 0px;
	bottom: 0;
	z-index: 10;
	max-width: 400px;
	width: 100%;
	top: 0;
	background-color: blueviolet;
	box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	transition: 0.3s;
}

.hamburger-menu.active {
	right: 0;

}


